<div class="page-header">
  <h1>Hello <%= @user.email %></h1>
  <h2>Main Page!</h2>
  <ul class="actions">
    <li><%# link_to fa_icon("plus") + " Avatar", user_avatars_path(:user_id => @user.id), class: "btn btn-primary" %></li>
    <li><%# link_to fa_icon("plus") + " Claims", employee_avatar_index_path(:employee_id => '1'), class: "btn btn-primary" %></li>
    <li><%# link_to fa_icon("plus") + " Resume", employee_avatar_index_path(:employee_id => '1'), class: "btn btn-primary" %></li>
    <li><%# link_to fa_icon("plus") + " Timesheet", employee_avatar_index_path(:employee_id => '1'), class: "btn btn-primary" %></li>

  </ul>
</div>

</div>
